<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Aditi's 11ty Blog</title>
        <style>
            html {
                background-color: rgb(255, 246, 216);
                margin: 1em;
            }
            h1 {
                color: rgb(94, 24, 24);
                text-align: center;
                font-family: 'Courier New', Courier, monospace;
                font-size: 2.5em;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>{{ title | default: "Aditi's Blog" }}</h1><hr>
                <!-- {% include "navbar.html" %} -->
        </header>
        <main>
            {{ content }}
        </main>
        <footer> 
        </footer>
    </body>
</html>